h1,h2,h6{
    font-family: 'Noto Serif TC', serif;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h5{
    font-weight: 600;
}

h3 {
    font-size: 1.3rem;
}

a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
}

.navbar .nav-user .dropdown-origin-width {
    left: -44px;
    top: 35px;
    min-width: 6.6rem;
    position: fixed;
}


.nav-user-block .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 20rem;
    padding: 0rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn:hover {
    background-color:#fc9228;
    color: white;
    border-color: white;
}

#contact .container{
    position:relative;
    margin-top: 30px;
}

#contact .media a{
    display: flex;           
    align-items: center; 
}

#contact .footer-note a{
    color: #585757; 
}

#contact .row{
    display: flex;           
    align-items: center;
}

header nav img {
    HEIGHT: 47PX;
    WIDTH: 160PX;
}

.member .member-info-wrapper {
    background-color: #ffe7d6;
    border-radius: 0.25rem;
}

.member .member-info-circle {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.member .member-info-data {
    margin-top: -1.5rem;
}

.member .member-table {
    width: 100%;
}

.member .member-table .px-md-0{
    padding-left: 0px !important;
}

.member .member-table .member-table-lf {
    font-size: 1rem;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.member .member-table .member-table-rt {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 75%;
    word-break: break-all;
}

.member .member-nav .nav-link {
    font-family: "Microsoft JhengHei", Helvetica, Noto Sans TC, Roboto, Arial, sans-serif;
    color:  rgba(0, 0, 0, 0.87);;
    border: 1px solid #a5a4a4;
}

.member .member-nav .nav-link:hover {
    cursor: pointer;
    color: white;
    border-color: #AAAAAA;
    background-color: #fc9228;
}

.member .member-nav .nav-link.active {
    color: #FFF;
    background-color: #fc9228;
}

.member .innertext {
    position: absolute;
    bottom: 117px;
    left: 30px;
    color: black;
}

.member .lower {
    color: #6c757d;
    height: 94px;
    margin-left: 10;
}

.member .upper {
    margin-bottom: 15px;
    height: 240px;
}

.member .innertext span {
    background: rgba(255,255,255,0.3);
    padding: 5px 16px;
    border-radius: 30px;
}

.member .col-md-4 .outer {
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.08);
    padding: 0px;
    margin: 0 5px;
    width: 250px;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.member .member-info-btn-wrapper .member-info-btn {
    width: 47%;
    border-radius: 0;
    padding: .8rem .5rem;
}

.outer img {
    max-width: 100%;
    height: -webkit-fill-available;
    vertical-align: middle;
    border-style: none;
}

.btn-outline-secondary {
    color:  rgba(0, 0, 0, 0.87);;
    border-color: #a5a4a4;
}

.page_head {
    height:35px;
}

.product_list {
    margin:0 auto;
    width: 900px;
}

#contact .footer-content {
    font-family: "Microsoft JhengHei", Helvetica, Noto Sans TC, Roboto, Arial, sans-serif;
}

#contact .footer-content .footer-content-tel {
    font-size: 15px;
    color: #585757;
}

#contact .footer-block:nth-child(1), .footer .footer-block:nth-child(2) {
    border-right: 1px solid #d1d2d3;
}

#contact .footer-note .footer-note-item:nth-child(1), #contact .footer-note .footer-note-item:nth-child(2) {
    border-right: 1px solid #d1d2d3;
}
